<mat-card class="centered">
    <form [formGroup]="adminlogin"  class="login" >
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" type="text">
          </mat-form-field>
          <br>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field>
        <br>
        <button mat-raised-button class="button" color="primary" (click)="onSubmit(adminlogin)"  [disabled]="adminlogin.invalid">Login</button>
        <button mat-raised-button class="button" color="accent" (click)="adminlogin.reset();">Reset</button>
    </form>
</mat-card>
