.column-1{
    float: left;
    width: 82%;
}

.column-2{
    float: right;
    align-content: center;
    width: 
}

.column-right{
    background-color: #ECEFF1;
    margin-top: 10px;
    border-radius: 5px;
}