<div class="example-container mat-elevation-z8" style="margin-top: 10px;">
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="exam">
            <mat-header-cell *matHeaderCellDef> Exam </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.exam}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="subjects">
            <mat-header-cell *matHeaderCellDef> Subjects </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="viewSubjects()">
                    <mat-icon>info</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="registrations">
            <mat-header-cell *matHeaderCellDef> Registrations </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.registrations.length}}
                <button mat-icon-button (click)=" viewRegistrations()">
                    <mat-icon>info</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="repeat">
            <mat-header-cell *matHeaderCellDef> Repeat Registrations </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.repeat_registrations.length}}
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="report">
            <mat-header-cell *matHeaderCellDef> Report </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a mat-button>
                    <mat-icon>print</mat-icon>
                </a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>