<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        First Year / CS
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(cs_1.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of cs_1.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,cs_1)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(cs_1.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
          <mat-panel-title>
            First Year / IS
          </mat-panel-title>
          <mat-panel-description>
            Add Subjects
            <mat-icon>subject</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a mat-button>
          <mat-icon (click)="onAdd(is_1.index)">add</mat-icon>
        </a>
        <mat-card class="subjects">
          <mat-form-field class="block" *ngFor="let col of is_1.index">
            <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,is_1)" />
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(is_1.index)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </mat-card>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      <br>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Second Year / CS
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(cs_2.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of cs_2.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,cs_2)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(cs_2.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Second Year / IS
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(is_2.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of is_2.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,is_2)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(is_2.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>

  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Third Year / CS
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(cs_3.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of cs_3.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,cs_3)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(cs_3.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  
  <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Third Year / IS
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(is_3.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of is_3.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,is_3)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(is_3.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>

  <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Third Year / SE
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(se_3.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of se_3.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,se_3)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(se_3.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>

  <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Third Year / Optional Subjects
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(op_3.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of op_3.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,op_3)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(op_3.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>

  <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fourth Year / CS
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(cs_4.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of cs_4.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,cs_4)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(cs_4.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  
  <mat-expansion-panel [expanded]="step === 9" (opened)="setStep(9)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fourth Year / IS
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(is_4.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of is_4.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,is_4)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(is_4.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>

  <mat-expansion-panel [expanded]="step === 10" (opened)="setStep(10)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fourth Year / SE
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(se_4.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of se_4.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,se_4)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(se_4.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  
  <mat-expansion-panel [expanded]="step === 11" (opened)="setStep(11)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fourth Year / OptionaL Subjects
      </mat-panel-title>
      <mat-panel-description>
        Add Subjects
        <mat-icon>subject</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a mat-button>
      <mat-icon (click)="onAdd(op_4.index)">add</mat-icon>
    </a>
    <mat-card class="subjects">
      <mat-form-field class="block" *ngFor="let col of op_4.index">
        <input matInput type="text" placeholder="subject" (keyup.enter)="addSubject($event.target.value,op_4)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onRemove(op_4.index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>


</mat-accordion>