<mat-grid-list cols="4" rowHeight="100px" style="margin-top: 10px; margin-bottom: 30px; ">
    <mat-grid-tile colspan="4" >
      <h1>Welcome to UCSC Exam Branch</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" style="border: indigo solid">
      <p>Lorem Ipsum has been the industry's standard dummy text ever
         since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="3" style="border: indigo solid">
      <h2>PostGraduate</h2>
    </mat-grid-tile>
  </mat-grid-list>