<mat-toolbar color='primary' *ngIf="!admin.loggedAsAdmin()">
  <a mat-button  routerLink="/user/dashboard" class="title">UCSC Exam Branch</a> 
  <span class="example-spacer"></span>
  <button mat-button class="button" (click)="onLogin()" *ngIf ="!userService.isLoggedIn()">Login</button>

  <button mat-raised-button color='primary' routerLink="/user/profile"  *ngIf ="userService.isLoggedIn()">Profile</button>
  <button mat-raised-button color='primary' (click)="onLogout()" *ngIf ="userService.isLoggedIn()">LogOut</button>

</mat-toolbar>


<!-- //for admin dashbord -->
<mat-toolbar color='primary' *ngIf ="admin.loggedAsAdmin()">
  <a mat-button  routerLink="/admin/newsfeed" class="title">UCSC Exam Branch</a> 
  <span class="example-spacer"></span>
  
  <button mat-button routerLink="/admin/newExam">New Exam</button>
  <button mat-button (click)="onprofile()" >Profile</button>
  <button mat-button (click)="onlogout()" >LogOut</button>

</mat-toolbar>