<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <span>Subjects</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">


        <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef>
                <h2>Year</h2>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cs">
            <mat-header-cell *matHeaderCellDef> CS</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-list role="list" *ngFor="let ele of element.cs">
                    <mat-list-item role="listitem">{{ele}}</mat-list-item>
                </mat-list>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="is">
            <mat-header-cell *matHeaderCellDef> IS </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                    <mat-list  *ngFor="let ele of element.is">
                            <mat-list-item >{{ele}}</mat-list-item>
                        </mat-list> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="se">
            <mat-header-cell *matHeaderCellDef> SE </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.se}} </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>